@font-face { font-family: 'GmarketSansMedium'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); 
    font-weight: normal; font-style: normal; }



/*  section */
#section{
    width: 1366px;
}

#box-search{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#box-search>div{
    width: 1050px;
}

#box-search-outline{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#box-search-outline>div{
    width: 1050px;
}

#box-search-inline{
	display: flex;
	flex-direction: row;
}

#search-type {
	flex : 1;
}

#search-type+input{
	flex : 5;
	display:none;
}

#box-board{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box-board>div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-box-outer{
    cursor: pointer;
    border-radius: 20px;
    width: 300px;
    height: 550px;
    overflow: hidden;
    border-style: unset;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 8px gray;
    margin: 20px;
}

.content-box-inner{
    height: 69%;
    width: 300px;
    background-size: cover  ;
    background-position: center;
    transition: all 0.3s ease;
}

.content-box-inner:hover
{
     transform: scale(1.04);
}

.bar{
    height: 1%;
    width: 300px;
    background-color: lightsalmon;
}

.content-box-cotent{
    height: 30%;
    width: 300px;
    background-color: white;
}
.content-box-cotent>table{
    height: 100%;
    width: 300px;
}

.content-box-cotent td{
    padding-left: 20px;
     padding-right: 20px;
}

* {
    /*  border : 1px solid red; */
    font-family: 'GmarketSansMedium';
}


#pageBar{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 960px;
    display: flex;

}