.container{
    /* background-color: aquamarine; */
}
.row{
    justify-content: center;
}
.searchBox{
    margin: 10px auto;
}
.searchBox select{
    text-align: center;
}
.searchBox input{
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
}
.searchBox button{
    padding-bottom: 3px;
}
.sortBox{
    /* border: 1px solid; */
    display: flex;
    justify-content: center; 
    margin-top: 10px;
}
.sortBox ul li{

}
.tab-content .tab-pane{
    justify-content: center;
    margin-top : 20px;
    text-align: center;
}

.content-box-outer{
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-style: unset;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 8px gray;
}

.content-box-inner{
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
    transition: all 1s ease;
}

.content-box-inner:hover
{
     transform: scale(1.04);
}

.bar{
    height: 100%;
    width: 0.5%;
    background-color: rgb(255, 145, 0);
}

.content-box-cotent{
    float: right;
    height: 100%;
    width: 49.5%;
    background-color: white;
}
.content-box-cotent>table{
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0,0.7);
    border-collapse: collapse;
}

.content-box-outer td{
    width: 160px;
    padding-left: 40px;
}


.box-content{
    width: 960px;
}

.content-box-outer a{
    color: orange;
    cursor: pointer;
    font-size: 20px;
}

.content-box-outer a:hover{
    color: rgb(255, 100, 0);
    transition: all 0.5s ease;
}

#pageBar{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}